<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="topica.edu.vn.bai37_mycontactaplication">
    <!-- Cấp quyền đọc tin nhắn -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!-- Cấp quyền gửi tin nhắn -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- Cấp quyền gọi điện thoại -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bai37_MyContactAplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>