<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="topica.edu.vn.bai35_2_momanhinh_truyendulieu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bai35_2_Mo_1_ManHinh_TruyenDuLieu">
        <activity android:name="topica.edu.vn.bai35_2_momanhinh_truyendulieu.ManHinh2Activity"></activity>
        <activity android:name="topica.edu.vn.bai35_2_momanhinh_truyendulieu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>